<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WECAN AGRO S.A</title>
  <link rel="stylesheet" href="styles/pStyles.css">
  <link rel="icon" type="image/ico" href="favicon.ico">
</head>
<body>

  <div class="menu">
  
    <div class="btn">
      <div class="bar"></div>
       <div class="bar"></div>
      <div class="bar"></div>
    </div>
    
    <nav id="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
    
  </div>

  <footer>
    <p>&copy; 2024 Clases de Apoyo - Todos los derechos reservados</p>
  </footer>

  <script src="scripts/burguerButton.js"></script>
</body>
</html>